body {
	padding-left: 0px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	background-color: #333333;
  }
  div.titlebar {
	color: white;
	padding: 5px;
	width: 920px;
	position: absolute;
	top: 17px;
	left: 127px;
	padding-left: 15px;
	height: 60px;
	font-size: 14pt;
	text-decoration: none;
}
  div.titlebar a {
    text-decoration: none;
    color: white;
}
  div.titlebar a:visited {
	color: white;
	text-decoration: none;
}
  div.main {
    width: 660px;
	text-align: justify;
	position: absolute;
	margin: 15px;
	top: 130px;
	left: 150px;
	color: #DDDDDD;
}
div.main a {
	color: #993366;
	text-decoration: none;
}
div.main a:visited {
	color: #993366;
	text-decoration: none;
}
div.main a:active {
	color: #993366;
	text-decoration: none;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
  div.navbar {
	width: 920px; 
	position: absolute;
	top: 90px;
	left: 127px;
	height: 100px;
  }
  ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 20px;
	left: 10px;
  }  
  ul.navbar li {
    display: inline;
	padding-right: 20px;
	font-weight: bold;
	text-align:center;
	font-size: 100%;
	line-height: 100%;
  }
  ul.navbar a {
	margin: 7px 0;
	padding: 5px 10px;
	text-align: right;
	border: 1px solid;
	border-radius:25px;
	width: 125px;
	text-decoration: none;
	border-left-color: #606060;
	border-top-color: #606060;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-size: 12pt;
}

  ul.navbar a:hover {
    background: #707070 }
  a:link {
    color: white }
  a:visited {
    color: white }

 .image-source-link {
	color: #98C3D1;
}


ul.slideshow {
	list-style:none;
	width:600px;
	height:450px;
	overflow:hidden;
	position:relative;
	margin:0;
	padding:0;
	
}	

ul.slideshow img {
	position:absolute;
	left:0;
	right:0;
}

ul img {
	border:none;	
}